# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# База данных
db.sqlite3
*.sqlite3

# Виртуальное окружение
venv/
env/
.venv
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# Django
*.log
staticfiles/
media/

# Git
*.orig