/*deck*/



.deck-container {
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #ccc;
}

.deck-item {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    border-bottom: 1px solid #eee;
    text-decoration: none;
    color: black;
}

.deck-item:hover {
    background: #f5f5f5;
}

.deck-name {
    font-weight: bold;
}


/*cards*/


.cards-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 20px;
}

.card-block {
    display: block;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 12px;

    text-decoration: none;
    color: black;
    background-color: rgb(rgb(124, 212, 212), green, blue);

    transition: background-color 0.2s;
}

.card-block:hover {
    background-color: #f5f5f5;
}

.card-front {
    font-weight: 600;
    margin-bottom: 4px;
}

.card-back {
    color: #777;
}

.add-card-btn {
    display: inline-block;
    margin-bottom: 15px;
}

/*review card*/

.card{
    width: 300px;
    height: 200px;
    perspective: 1000px;
    cursor:pointer;
}

.card-inner{
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card.flipped .card-inner{
    transform: rotateY(180deg);
}

.card-back, .card-front{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #ccc;
    border-radius: 10px;
}

.card-back{
    transform: rotateY(180deg);
    background: #f9f9f9;
}