{% extends "base_vocabulary.html" %}

{% block vocabulary_content %}

<a href="{% url 'vocabulary:deck_list' %}" class="back">Back</a>

<h1>All cards</h1>

<a href="{% url 'vocabulary:card_create' %}" class="add-card-btn">
    Add new card
</a>

<hr>

<div class="cards-container">

{% if not cards %}
    <h3>No cards</h3>
{% endif %}
{% for card in cards %}

<a href="{% url 'vocabulary:card_edit' card.slug %}" class="card-block">

    <div class="card-front">
        {{ card.front }}
    </div>

    <div class="card-back">
        {{ card.back }}
    </div>

    <hr>

</a>

{% endfor %}

</div>

{% endblock %}