{% extends "base_vocabulary.html" %}

{% block vocabulary_content %}

<a href="{% url 'vocabulary:deck_list'%}" class="back">Back</a>

<h1>{{ deck.name }}</h1>

<div>

    <form method="POST" action="{% url 'vocabulary:card_create_in_deck' deck.slug %}">
        {% csrf_token %}
        <button type="submit" class="btn-add-new-card">Добавить новую карту</button>
    </form>
        <form method="POST" action="{% url 'vocabulary:deck_review' deck.slug %}">
            {% csrf_token %}
            <button type="submit" class="btn-review">Повторение</button>
        </form>
    <form method="POST" action="{% url 'vocabulary:deck_delete' deck.slug %}" onsubmit="return confirm(&quot;Удалить колоду {{ deck.name|escapejs }}?&quot;)">
        {% csrf_token %}
        <button type="submit" class="btn-danger">Удалить</button>
    </form>

</div>

<hr>

<h3>Cards</h3>

{% if deck.cards %}

<ul>

{% for card in cards %}

<li>

<a href="{% url 'vocabulary:card_edit' card.slug %}">
    {{ card.front }}
</a>

</li>

{% endfor %}

</ul>

{% else %}

<p>No cards yet</p>

{% endif %}

{% endblock %}