{% extends "base.html" %}

{% block content %}
<form method="get">

    <input
        type="text"
        name="search"
        placeholder="Поиск..."
        value="{{ search_query|default:'' }}"
    >

    <select name="tag">
        <option value="">Все теги</option>
        {% for tag in all_tags %}
            <option value="{{ tag.id }}"
                {% if selected_tag == tag.id|stringformat:"s" %}
                    selected
                {% endif %}
            >
                {{ tag.name }}
            </option>
        {% endfor %}
    </select>

    <button type="submit">Найти</button>

</form>
{% for record in page_obj %}
    <a href="{% url 'record' record.slug %}">{{ record.title }}</a>
    <p>{{ record.content|truncatewords:20 }}</p>
    {% for tag in record.tags.all %}
        <h4>#{{ tag.name }}</h4>
    {% empty %}
        <p>Тегов нет</p>
    {% endfor %}
{% empty %}
    <p>Записей пока нет.</p>
{% endfor %}
<div>
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.next_page_number }}&search={{ search_query }}&tag={{ selected_tag }}">
    {% endif %}

    Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}&search={{ search_query }}&tag={{ selected_tag }}">
    {% endif %}
</div>
{% endblock %}
